.body{
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    line-height: 1.6;
    font-size: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-height: 20px;
    font-weight: 600;
    background-color: black;
}
.header{
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    width:  1440px;
    margin: 0 auto;
    position: absolute;
    background-color: black;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5.h6{
    margin: 0;
}

/* Container */
.container{
    max-width: 100%;
    width: 1266px;
    margin: 0 auto;
    font-family: 'Alumni Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    letter-spacing: .02em;
    font-weight: 600;
}
.col__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.col__center{
    margin-left: auto;
    margin-right: auto;
}
.col__ring{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*  intro */
.block__info{
    padding: 8px 0;
    background: #000000;
    border-bottom: solid 1px #31353e;
}/* фон первого меню */

/* строка інфо */
.block__nav{
    background: #000000;
}/* фон второго меню */
.contact__number{
    margin-left: 54px;
}
.languages{
    max-width: 10em;
}
.currency{
    margin-left: 88px;
    margin-right: 20px;
}
.icon-Polygon:before{
    font-size: 5px;
    padding-top: 10px;
    margin-left: 11px;
    position: absolute;
    content: "\e905";
    color: #fff;
}

/* логотип та меню  */
.header__inner{
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
}
.header__logo{
    width: 190px;
    height: 50px;
}
.nav{
}
.nav__link{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    padding-left: 64px;
}

/*   */
.like__hrf{
    text-decoration: none;
    margin-top: 8px;
}
.sell__hrf{
    text-decoration: none;
    padding-right: 8px;
    margin-top: 8px;
}
.oval{
    background-color: #fcb500;
    width: 24px;
    height: 24px;
    position: absolute;
    text-decoration: none;
    border-radius: 24px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
}
.sell__Oval{
    margin: -12px 0 0 -18px;
}
.like__Oval{
    margin: -12px 0 0 -12px;
}

/* Слайдер -->*/
.br__body{
    position: relative;
    height: 580px;
}
.br__tag{
    width: 1264px;
    margin: 0 auto;
    position: relative;

}

/* навигащия на картинці  */
.br__tag__ring{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.br__tag__left, .br__tag__ring{
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -320px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
}
.br__tag__left:hover, .br__tag__ring:hover{
    background-color: rgb(73, 72, 72);
}
.br__button{
    position: absolute;
    width: 280px;
    height: 50px;
    background: #FCB500;
    border-radius: 4px;
    padding: 10px 10px;

    text-transform: uppercase;
    color: #000000;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;

    bottom: 63px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-name: fade;
}
@-webkit-keyframes fade {
    from{ opacity: .4}
    to{  opacity: 1}
}
@keyframes fade {
    from{}
}

/* Блок 1   */
.container__category{
    margin-top: 70px;
    height: 684px;
    width: 100%;
}
.content__img{
    width: 400px;
    height: 260px;
}
.row{
    display: flex;
    padding-top: 32px;
}
.b4___col,.col__2,.col__3{
    width: 400px;
    height: 260px;
}
.b4___col{
    margin-left: 2px;
}
.col__2{
    margin: auto;
}

/* Текст Блока 1 */
.b1__category__supscription{
    position: absolute;
    display: block;
    margin: 41px 0 0 40px;
    font-size: 20px;
    opacity: 0.5;
    letter-spacing: 0.08em;
}
.b1__label{
    margin-left: 39px;
    margin-top: 75px;
    position: absolute;
}
.b1__category__subscription{
    position: absolute;
    display: block;
    margin: 196px 0 0 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.b1-pointRing{
    margin: 202px 0 0 123px;
    font-size: 13px;
}
.b1__category__label{
    cursor: default;
    position: absolute;
    display: block;
    font-size: 43px;
    line-height: 48px;
}
.b1__category__description{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
letter-spacing: 0;
    text-transform: none;
    display: block;
    font-weight: 100;
    padding-top: 67px;
}

/* b2 */
.b2__container{
    margin-top: 70px;
    height: 648px;
    width: 100%;
    background-color: #649191;
}
.b2__label{
    display: block;
    font-size: 43px;
    line-height: 48px;
    color: black;
    margin-top: 30px;
    letter-spacing: .01em;
}
.b2-pointLeft,.b2-pointRing{
    display: block;
    position: absolute;
    margin-top: -55px;
    margin-right: 188px;
    font-size: 50px;
    color: black;
}
.b2-pointLeft{
    margin-right: 256px;
}
.sell__all{
    margin-top: -52px;
    color: black;
    font-size: 22px;
    display: block;
    position: absolute;
}

/* b2 content -*/
.sell__content{
    display: flex;
    height: 470px;
}
.sell__items{
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    width: 290px;
    height: 450px;
    margin: 20px auto 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between
}
.sell__items_end{
     margin: 20px 0 0 0;
 }
.sell__img{
    max-height: 252px;
    max-width: 252px;
    margin: 20px 20px 5px;
}
.sell__price{
    height: 120px;
}
.sell__name{
    line-height: 26px;
    width: 240px;
    font-size: 22px;
    text-align: center;
    color: black;

}
.sell_lab{
    height: 120px;
    width: 100%;
    background-color: #38a6b4;

    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.sell_button {
    height: 44px;
    width: 100%;
    background-color: crimson;

}
.sell__by_svg:before {
    padding: 0;
    color: black;
}

/* b3 container -*/
.b3__container{
    background-color: #847972;
    height: 580px;
    justify-content: space-between;
    display: flex;
}
.b3__content,.b4__content{
    margin-top: 100px;
    display: block;
}
.b3__img{
    margin-top: 100px;
    max-width: 507px;
    max-height: 380px;
}

/* b4 container -*/
.b4__container{
    background-color: #fff;
    height: 750px;
    justify-content: space-between;
    display: flex;
}
.b4__content{
    height: 285px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.b4__button{
    padding: 12px 80px;
    background-color: #c28d20;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.b4__gallery{
    margin-top: 100px;
    height: 550px;
    display: flex;
    width: 835px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.b4___col{
    height: 270px;
    width: 270px;

}
.b4__insta{
    margin: 235px 0 0 15px;
    position: absolute;
    display: block;
}

/* b5 container -*/
.b4__YouTube {
    height: 410px;
    width: 730px;
    margin-top: 100px;
    background-color: yellowgreen;
}







