.body{
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    line-height: 1.6;
    font-size: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-height: 20px;
    font-weight: 600;
}

.header{
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    width:  1440px;
    margin: 0 auto;
    position: absolute;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5.h6{
    margin: 0;
}
/* Container */
.container{
    max-width: 100%;
    width: 1264px;
    margin: 0 auto;
    font-family: 'Alumni Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    line-height: 22px;
    letter-spacing: .02em;
}

/*  intro */
.info{

    background: #000000;
}

.info__contact{
    padding: 6px 0;
    display: flex;
    font-size: 18px;
}

/*.contact__calendar{
    float: left;
}*/
.contact__number{
    margin-left: 55px;
}
.languages{
    max-width: 10em;
    margin-left: auto;
    display: flex;
}
.currency{
    margin-left: 69px;
    display: flex;
}
.keyFrame1, .keyFrame2{
    text-decoration: none;
    cursor: pointer;
}

/* логотип та меню  */
.header__inner{
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
}
.header__logo{
    width: 190px;
    height: 50px;
    background: burlywood;
}

.nav__link{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    padding-left: 65px;
}
.nav__svg {
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    display: flex;
}
.nav__img{
    margin-left: 55px;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background: aqua;
}

/* Заставка -->*/
.gray{
    display: block;
    width: 1440px;
    height: 580px;
    background-image: url("/assets/img/hofner-banner@2x2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}
.br__body{
    background-color: rebeccapurple;
}

/* навигащия в заставке  */
.br__tag__left{
    cursor: pointer;

    position: absolute;
    left: 0;
    bottom: 45%;
    transform: translate(-50%, -50%);
    background-color: crimson;
}
.br__tag__ring{
    cursor: pointer;
}
.br__button{
    position: absolute;
    width: 280px;
    height: 50px;
    background: #FCB500;
    border-radius: 4px;
    padding: 10px 10px;

    text-transform: uppercase;
    color: #000000;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;

    bottom: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
}











